body{
	background-color: $one;
	color: white;
	font-family: 'HelveticaNeue', $base-font-family;
    font-size: 0.9rem;
    font-weight: 300;
    text-rendering: geometricPrecision;
}
h1,h2,h3,h4,h5{
	font-family: 'HelveticaNeue', $base-font-family;
    font-weight: 900;
    color: $cus_white;
}
h1{
    font-size: 1.6rem;
}
h2{
    font-size: 1.2rem;
}
img{
	width: 100%;
	height: auto;
}
a{
	&:focus{
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
*::-moz-selection{
	color: $cus_gray;
	background-color: $three;
	text-shadow: none;
} 
*::selection{
	color: $cus_gray;
	background-color: $three;
	text-shadow: none;
}
.icon{
	font-size: 1.2rem;
	vertical-align: middle;
}
/* top bar sorting buttons effects start*/

.btn.btn-primary{
	border: none;
	border-bottom: 5px solid $dark_red;
	font-family: 'HelveticaNeue';
	font-weight: 900;
    &:focus, &:hover{
        color: $cus_white_2;
    	border-color: $yellow;
    }
    &.active, &:active{
        color: $cus_white_2;
        background: darken($primary-color-dark, 4%);
    	border-color: $yellow;
    }
}

/* top bar sorting buttons effects end*/
.h{
	height: 100%;
}
.site_wrap{
	overflow-x: hidden;
    background-color: $one;
}
.main, .single_post_main{
	padding-top: 62px;
	padding-right: 1.6rem;
	padding-left: 1.6rem;
    min-height: calc(100vh - 93px);
}
.single_post_main{
    &__inner{
        margin-top: 2rem;
    }
}
.main__inner{
    @extend .single_post_main__inner;
}
// showcase image start

.sc{
	position: relative;
}
.showcase_img_cnt{
	position: relative;
	opacity: 0;
	transition: opacity 0.6s linear;
	z-index: 10;
	pointer-events: none;
	h1{
		font-size: 1.2rem;
	}	
}
.rev_sc{
	opacity: 1;
	pointer-events: auto;
}

// showcase image end

// top slider start
.top_slider{
	position: relative;
	
}
.top_slider, .glide, .glide__track{
	height: 100%;
}
.glide{
    height: 100%;
	&__slides{
		margin: 0;
		height: 100%;
		background-color: $one_dark;
	}
	.slider_info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		height: 100%;
		position: relative;
		&__left, &__right{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			z-index: 2;
		}
		&__left{
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-left: 64px;
			padding-right: 2rem;
			-ms-flex-line-pack: center;
			align-content: center;
			position: relative;
			-webkit-box-flex: 1;
			-ms-flex: 1 1 60%;
			flex: 1 1 60%;
			p{
				font-weight: 300;
			}
			h1, h3, p{
				-webkit-box-flex: 1;
				-ms-flex: 1 0 100%;
				flex: 1 0 100%;
                text-align: right;
                color: $cus_white;
			}
			&::after{
				content: "";
				display: block;
				position: absolute;
				top: 25%;
				right: 0;
				height: 50%;
				border-right: 1px solid $three;
			}
			&--no_game{
				h1{
					text-align: center;
				}
			}
		}
		&__right{
		 	-webkit-box-pack: center;
		 	-ms-flex-pack: center;
		 	justify-content: center;
		 	-webkit-box-flex: 1;
		 	-ms-flex: 1 1 40%;
		 	flex: 1 1 40%;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			left:0;
			bottom: 0;
			width: 100%;
			height: 40%;
			pointer-events: none;
			background: linear-gradient(to top, $one 10%, rgba($one, 0.95) 35%, rgba($one, 0.85) 50%, rgba($one, 0.75) 60%, rgba($one, 0.65) 65%,rgba($one, 0.55) 70%, rgba($one, 0.4) 80%, transparent 100%);
		}
	}
	&__slide{
		&--active{
			z-index: 1;
		}
	}
}
.glide__slide--one{
    .slider_info__left{
        flex: 1 1 70%;
    }
    .slider_info__right{
        flex-direction: column;
        padding: 0.5rem 1rem;
        a{
            margin-bottom: 0.5rem;
        }
        p{
            color: $cus_white;
        }
    }
}

.glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid rgba(white, 0.6);
    background-color: rgba(255,255,255,0.3);
}
.glide__bullet{
	outline: none;
    background-color: rgba(255,255,255,0.3);
    width: 11px;
    height: 11px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.1);
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.1);
    margin: 0 0.25em;
    &--active {
	    background-color: rgba(white, 0.6);
	}
}
.glide__bullets{
	position: absolute;
    z-index: 2;
    left: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	bottom: 0.5rem;
}
.slider_top_game{
    padding: 0 1rem;
    max-width: 350px;
    .pad_outer{
        z-index: 1;
    }
    .game_description__play{
        top: unset;
        bottom: 18px;
    }
}
.first_slide_game{
    display: flex;
    align-items: center;
    &__info{
        flex: 1 1 50%;
    }
    .slider_top_game{
        flex: 0 0 260px;
        padding-right: 0;
    }
}

// top slider end

/*game types block start*/
.game_types_cnt{
	padding-top: 0.3rem;
	.btn_game_type{
		margin: 0.5rem 0;
		margin-top: 0.7rem;
		&:nth-of-type(1){
			z-index: 100;
		}
		&:nth-of-type(2){
			z-index: 90;
		}
		&:nth-of-type(3){
			z-index: 80;
		}
	}
	.sorting_btn_cnt{
		display: inline-block;
		white-space: nowrap;
	}	
}
.sorting_type{
	.sort_new, .sort_popular{
		margin: 0.5rem 0;
    	margin-top: 0.7rem;
	}
}
.loading_btn{
	color: transparent !important;
    min-height: .8rem;
    pointer-events: none;
	&::before{
		@extend .loading::after;
	}
}
/*game types block end*/
.games_cnt{
	min-height: 530px;
	position: relative;
}
.index_game{
	margin: 0.8rem 0;
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap; 
		height: 100%;
		-webkit-transition: -webkit-transform 0.3s linear;
		transition: -webkit-transform 0.3s linear;
		-o-transition: transform 0.3s linear;
		transition: transform 0.3s linear;
		transition: transform 0.3s linear, -webkit-transform 0.3s linear;
		position: relative;
		background-color: $one;
		border-radius: $unit-o;
	}
}
.game_description{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 0;
    transform: translate3d(0, 40%, 0);
    transition: transform 0.3s $timing_f;
    z-index: 120;
    &__heading{
		padding: 0 0.5rem;
		margin-top: 1.8rem;
		margin-bottom: 1.6rem;
        font-size: 1rem;
        text-align: center;
		a{
			color: $cus_white;
		  	&:hover{
		    	color: $red;
		  	}
		}
	}
	&__info{
		padding: 0 0.5rem;
	}
	&__excerpt{
        opacity: 0;
        padding: 0 0.5rem;
        transition: opacity 0.4s $timing_f;
		p{
			margin: 0;
			margin-bottom: 0.3rem;
		}
	}
	&__play{
		position: absolute;
		right: 50%;
        top: -18px;
        transform: translateX(50%); 
		>.btn_play{
			padding: .25rem 1.4rem;
		}
	}
}
.new_bage{
	font-size:  14px;
	font-family: $base-font-family;
	font-weight: bolder;
	line-height: 12px;
	background-color: rgba($two, .7);
    color: black;
    text-transform: uppercase;
    padding: 0.3rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
    text-align: center;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    border-bottom-right-radius: $unit-o;
}
/* front page thumb start*/
.thumbnail_cnt{
	margin: 0;
	position: relative;
	&__game_views{
		position: absolute;
		right: 0px;
		padding: 0.3rem;
		top: 0;
		z-index: 100;
		font-size: 15px;
		font-weight: bold;
		color: $cus_white;
		background-color: rgba(0,0,0,.7);
		text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
		border-top-right-radius: $unit-o;
		border-bottom-left-radius: $unit-o;
		.icon-eye{
			font-size: 20px;
			vertical-align: sub;
		}
	}
	&__inner{
        overflow: hidden; 
        position: relative;
		border-radius: $unit-o;
	}
	img{
		display: block;
		width: 100%;
        height: auto;
        transform: scale(1);
		transition: transform .2s ease-in-out;
		border-radius: $unit-o;
	}
	&__link{
		position: relative;
		height: 0;
		padding-bottom: 100%;
		display: block;
		overflow: hidden;
		background-color: lighten($one, 1);
		&--related{
			padding-bottom: 100%;
		}
	}
	&--related{
		border-radius: $unit-o;
		&:hover img{
			transform: scale(1.1);
		}
	}

}
.index_game{
	margin: 0.8rem 0;
	&__inner{
		&:hover img{
			transform: scale(1.1);
        }
        &:hover .game_description{
            transform: translate3d(0, 0, 0);
        }
        &:hover .game_description__excerpt{
            opacity: 1;
        }
	}
}
.pad_outer{
    position: absolute;
    top: 3px;
	left: 50%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
    align-items: center;
    transform: translateX(-50%);
}
.pad{
	background-color: $one;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 3px solid $three;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.41);
	margin: 2px;
	&--type{
		width: 40px;
		height: 40px;
	}
	.icon{
		font-size: 22px;
		color: white;
		display: block;	
	}
	.icon-gamepad{
		font-size: 22px;
		height: 26px;
	}
	a{
		text-decoration: none;
		.icon{
			-webkit-transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			transition: color 0.2s linear; 
		}
	}
	a:hover .icon{
		color: $three;
	}
}
	
/* front page thumb end*/

/* front page game loader start*/

.loader_overlay{
	position: absolute;
	top: 0;
	right: 0.8rem;
	left: 0.8rem;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(darken($one, 3), 0.9);
	z-index: 100;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.hidden_loader{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
/* front page game loader end*/

/* pagination start*/
.pagination_links{
	position: relative;
	padding: 2rem 0;
	.next_post_link{
		position: absolute;
		right: 0;
	}
	.previous_post_link{
		position: absolute;
	}
	&--numbered{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		.page-numbers:not(.dots){
			transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
			margin: 0.2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border-radius: $unit-o;
			background-color: $red;
			font-weight: 900;
		    font-style: normal;
		    border-color: $primary-color-dark;
            border-bottom: 5px solid $dark_red;
            color: $cus_white;
		    &:focus,
		    &:hover {
		      background: darken($primary-color-dark, 2%);
		      border-color: $yellow;
		      color: $cus_white_2;
		    }
		    &:focus{
		    	-webkit-box-shadow: 0 0 0 0.1rem rgba(254,76,94,0.2);
		    	box-shadow: 0 0 0 0.1rem rgba(254,76,94,0.2);
		    }
		    &:active,
		    &.current {
                background: darken($dark_red, 12);
                border-color: $dark_yellow;
                color: $cus_white_2;
                text-decoration: underline;
		    }
		}
		.page-numbers.dots{
			border-radius: $unit-o;
			margin: 0.2rem;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			width: 40px;
			height: 40px;
            background-color: darken($dark_red, 12);
            font-weight: 900;
		}
	}
}
/*pagination end*/

/*single page/post start*/
.single_page{
    margin-top: 2rem;
}
.single_post_cnt{
	line-height: 1.7;
}
.iframe_wrapper{
	padding: 2rem 0;
	padding-top: 0.5rem;
	&__game{
		position: relative;
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		>iframe{
			width: 1px;
    		min-width: 100%;
    		height: 100%;
    		margin-bottom: 0;
    		position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
		}
	}
}
.related{
	padding: 1rem 0 2rem 0;
	.related_title{
        font-size: 0.8rem;
		font-weight: 300;
	}
}
.single_post{
	&__info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.game_description_single{
		position: relative;
	}
}
.game_types_cnt_single{
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	height: 100%;
	border-radius: $unit-o;
	margin: 0.5rem 0;
	margin-right: 0.5rem;
	height: 100%;
	&__inner{
		padding: 0.3rem;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		.icon{
			font-size: 1.5rem;
			-webkit-transition: color 0.2s linear;
			-o-transition: color 0.2s linear;
			transition: color 0.2s linear;
		}
		a{
			text-decoration: none;
			color: white;
			&:hover .icon{
				color: $three;
			}
		}
	}
}
.single_views{
	.game_types_cnt_single__inner{
		>span{
			margin: 0.2rem;	
		}
	}
}
.single_post_type_icon{
	margin: 0.2rem;
	width: auto;
	height: 30px;
}
.text-center{
	text-align: center;
}
/* game suggest page start*/
.form_image{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	>img{
		max-width: 300px;
	}
}
/* game suggest page end*/

/* page 404 start*/
.page_404{
	&__image_cnt{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		>img{
			max-width: 400px;
		}
	}
}
/* page 404 end*/

/* search start*/
.search_active{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll !important;
}
.search_active .overflow-search{
    -webkit-filter: blur(8px);
	filter: blur(8px);
}

.search_block{
	background-color: rgba(black, 0.75);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	overflow-x: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 900;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	&__close_search_cnt{
		position: absolute;
		top: 40px;
		right: 40px;
	}
	&__inner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
	}
}
.search_block_img{
	width: 100%;
	max-width: 300px;
	height: auto;
	display: block;
	margin-bottom: 1rem;

}
.search, .search_block{
	.input-group .input-group-addon{
        background-color: $one;
        >.icon{
            color: $two;
        }
	}
}
.hidden_search{
 	opacity: 0;
 	visibility: hidden;
 	pointer-events: none;
}
.search_face{
	margin-top: 2rem;
	>img{
		width: 200px;
	}
}
.search_header_cnt{
    margin: 1rem 0;
	margin-top: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	&__item{
		margin: 0;
		padding: 0.5rem 0;
	}
	h1{
		padding-right: 1rem;
	}
	.search_query{
		color: $two;
	}
}
.nothing_found{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
}
.choose_search_cat > label{
	white-space: nowrap;
} 
/* search end*/

/* archive start*/
.separator{
	width: 50%;
	height: 4px;
	border-radius: 2px;
	background-color: $three;
	margin: 1.5rem 0 1rem 0;
}
/* archive end*/

.btn.btn-primary.secondary_btn{
    color: $cus_white;
    background-color: $two;
    border-color: $yellow;
    &:hover, &:focus{
        background-color: $three;
        color: $cus_white_2;
        border-color: $red;
    }
    &.active, &:active{
        background: $three;
        color: $cus_white_2;
    	border-color: $red;
    }
}
.adblock_notice{
	max-height: 400px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s $timing_f;
	-o-transition: max-height 0.5s $timing_f;
	transition: max-height 0.5s $timing_f;
	h4{
		display: inline-block;
		margin: 0;
	}
}
@-webkit-keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading {
	from { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
/* Want to publish your game end*/

/*single page/post end*/
@media screen and (max-width: $size-xs){
	.search_block__inner{
		.search_form{
			padding: 0 1.6rem;
			width: 100%;
		}
	}
	.choose_search_cat{
		max-width: 328px;
	}
	.search_field{
		max-width: 240px;
	}
	.search_block_img{
		display: none;
	}	
}

@media screen and (max-width: 620px) {
	.showcase_img_cnt{
		h1{
			font-size: 1.25rem;
		}
    }
    .game_description{
        &__heading{
            font-size: 1rem;
        }
        &__excerpt{
            font-size: 1rem;
        }
    }
	.iframe_wrapper{
		padding: 2rem 0rem;
		&__game{
			position: relative;
			height: 500px;
			padding-bottom: 0;
		}
	}
	.separator{
		width: 100%;
	}
}
@media screen and (max-width: $size-md) {
	.search_header_cnt{
		&__item{
			-webkit-box-flex: 1;
			-ms-flex: 1 0 100%;
			flex: 1 0 100%;
		}
    }
	.glide{
		.slider_info{
            padding-top: calc( 1rem + 62px );
			flex-direction: column;
			justify-content: center;
			&__left, &__right{
				flex: 1 1 100%;
				text-align: center;
				justify-content: center;
				&:after{
					content: none;
				}
			}
			&__left{
				margin-left: 0;
				padding: 0 2rem;
				p{
					text-align: center;
				}
			}
			&__right{
                margin: 1rem;
                margin-top: 0;
                align-items: center;
                a{
                    margin-bottom: 0.2rem;
                }
			}
			h1, h3{
                text-align: center;
			}
		}
    }
    .first_slide_game{
        flex-direction: column;
        .slider_top_game{
            padding: 1rem;
            padding-top: 0;
        }
        p{
            display: none;
        }
    }
    .slider_top_game{
        padding-bottom: 2rem;
        img{
            max-width: 250px;
        }
    } 
    .game_description{
        &__heading{
            font-size: 0.8rem;
        }
        &__excerpt{
            font-size: 0.8rem;
        }
    }	
}
@media screen and (min-width: 1021px) and (max-width: 1550px) {
	.iframe_wrapper{
		padding: 2rem 4rem;
	}
}
@media screen and (min-width: 621px) and (max-width: 1020px) {
	.iframe_wrapper{
		padding: 2rem;
	}
}

@media screen and (min-width: 1620px) {
	.single_post__info{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column wrap;
		flex-flow: column wrap;
		position: absolute;
		top: 0;
		right: calc( 100% + 1rem );
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: center;
		.game_types_cnt_single{
			display: block;
			margin: 0.5rem 0;
			width: 62px;
			&__inner{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-flow: column wrap;
				flex-flow: column wrap;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				.single_post_type_icon{
					display: block;
					-webkit-box-flex: 1;
					-ms-flex: 1;
					flex: 1;
					-ms-flex-preferred-size: 30px;
					flex-basis: 30px;
				}
			}
		}
		.single_views{
			width: auto;
		}	
	}
}